doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=640, user-scalable=no, shrink-to-fit=no')

    -
      var url    = '';
      var title  = 'mike';
      var desc   = '';
      var imgurl = '';
      var keywrds = '';

    title=title
    meta(name='description' content=desc)
    meta(name='keywords' content=keywords)
    meta(name='og:site_name' content=title)
    meta(property='og:title' content=title)
    meta(property='og:description' content=desc)
    meta(property='og:url' content=url)
    meta(property='og:image' content=imgurl)
    meta(property='og:image:url' content=imgurl)

    link(rel='icon' type='image/x-icon' href='images/favicon.ico')
    link(rel='shortcut icon' type='image/x-icon' href='images/favicon.ico')
    
  body
    #app
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js")
    script(src="js/user.js")
